In [3]:
from sklearn.preprocessing import StandardScaler
import pandas as pd

def preprocess_data(data):
    # Drop columns with NaN values
    data = data.dropna(axis=1)

    categorical_columns = ["Materialnummer", "Lieferant OB", "Vertragsposition OB", "Beschaffungsart", "Disponent", "Einkäufer", "Dispolosgröße", "Werk OB", "Warengruppe", "Basiseinheit"]
    numerical_columns = ["Planlieferzeit Vertrag", "Vertrag Fix1", "Vertrag_Fix2", "Gesamtbestand", "Gesamtwert", "Preiseinheit", "WE-Bearbeitungszeit", "Planlieferzeit Mat-Stamm"]
    
    materialnummern = data["Materialnummer"]
    # data.loc[:,categorical_columns] = data[categorical_columns].astype('category')
    data[numerical_columns] = data[numerical_columns].astype('int64')

    # Select only numeric columns
    processed_data = data[numerical_columns]

    # Normalize features
    scaler = StandardScaler()
    processed_data = pd.DataFrame(scaler.fit_transform(processed_data), columns=processed_data.columns)

    return processed_data, materialnummern

file_path = '../../datasets/Stammdaten.csv'
df = pd.read_csv(file_path, low_memory=False)
processed_df, materialnummern = preprocess_data(df)
print(materialnummern[:10])

0      00345241
1      00346718
2      60038465
3      60038640
4      60014570
5    28287702UB
6    28287702UB
7      60045005
8      60045005
9      60045005
Name: Materialnummer, dtype: object

/var/folders/l0/0614kf4s65x565bh4hp9dvym0000gn/T/ipykernel_5943/1947756252.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[numerical_columns] = data[numerical_columns].astype('int64')

In [4]:
import numpy as np
from sklearn.cluster import KMeans

def detect_anomalies(data, num_clusters, threshold):
    # Fit KMeans clustering model
    kmeans = KMeans(n_clusters=num_clusters)
    kmeans.fit(data)
    
    # Calculate distances of each point to its nearest cluster center
    distances = kmeans.transform(data)
    
    # Calculate average distance to cluster centers for each point
    avg_distances = np.mean(distances, axis=1)
    
    # Calculate threshold for anomaly detection
    anomaly_threshold = np.percentile(avg_distances, threshold)
    
    print(avg_distances[:10])
    
    # Identify anomalies
    anomalies = data[avg_distances > anomaly_threshold]
    
    return anomalies, avg_distances > anomaly_threshold

anomalies, anomaly_indices = detect_anomalies(processed_df, num_clusters=2, threshold=40)
print(anomalies)
anomalies.to_csv('anomalies.csv', index=False)

/opt/anaconda3/lib/python3.9/site-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

[3.98460898 3.98460898 3.89585261 3.89585261 3.98460898 3.98460898
 3.98460898 3.98729785 3.98729785 3.98729785]
        Planlieferzeit Vertrag  Vertrag Fix1  Vertrag_Fix2  Gesamtbestand  \
0                    -0.119965     -0.119173     -0.152971      -0.019679
1                    -0.119965     -0.119173     -0.152971      -0.019679
4                    -0.119965     -0.119173     -0.152971      -0.019679
5                    -0.119965     -0.119173     -0.152971      -0.019679
6                    -0.119965     -0.119173     -0.152971      -0.019679
...                        ...           ...           ...            ...
186751                8.573091     -0.119173     -0.152971      -0.016827
186752                0.431975      1.161046      4.741521       0.342038
186753                0.431975      1.161046      4.741521      -0.008917
186754                0.431975      1.161046      4.741521       0.077073
186755                0.431975      1.161046      4.741521      -0.012038

        Gesamtwert  Preiseinheit  WE-Bearbeitungszeit  \
0        -0.062713     -0.371944            -0.095622
1        -0.062713     -0.371944            -0.095622
4        -0.062713     -0.371944            -0.095622
5        -0.062713     -0.371944            -0.095622
6        -0.062713     -0.371944            -0.095622
...            ...           ...                  ...
186751    0.622639      0.315899            -0.095622
186752    1.334058      0.315899            -0.095622
186753   -0.006744      0.315899            -0.095622
186754   -0.049146      0.315899            -0.095622
186755   -0.058780      0.315899            -0.095622

        Planlieferzeit Mat-Stamm
0                      -0.469945
1                      -0.469945
4                      -0.469945
5                      -0.469945
6                      -0.469945
...                          ...
186751                 -0.268152
186752                 -0.456492
186753                 -0.409407
186754                 -0.456492
186755                 -0.456492

[104292 rows x 8 columns]

In [5]:
anomaly_indices_new = [0 if x == False else 1 for x in anomaly_indices]
print(len(anomaly_indices_new))
print(len(df))
supervised_dataset = pd.read_csv(r"/Users/raoul/Documents/Studium/AI_Project/git/ai-project/knn_raoul/datasets/supervised_dataset.csv")
supervised_dataset["knn_predictions"] = anomaly_indices_new

anomaly_count = 0
for element in supervised_dataset["anomaly"]:
    if element == 1:
        anomaly_count += 1


knn_anomaly_count = 0
for element in supervised_dataset["knn_predictions"]:
    if element == 1:
        knn_anomaly_count += 1        

        
print(anomaly_count/len(df))
print("Knn precent count: ", knn_anomaly_count/len(df))

# Calculate the percentage of matching entries
matching_percentage = (supervised_dataset['anomaly'] == supervised_dataset['knn_predictions']).mean() * 100

print(f"Percentage of matching entries: {matching_percentage:.2f}%")

print(materialnummern[:20])
supervised_dataset[:20]

186756
186756
0.6039056308766518
Knn precent count:  0.5584398894814624
Percentage of matching entries: 51.40%
0       00345241
1       00346718
2       60038465
3       60038640
4       60014570
5     28287702UB
6     28287702UB
7       60045005
8       60045005
9       60045005
10      60045005
11      60045005
12      60045005
13      60102743
14      60102743
15      60045005
16      60045005
17      60045005
18      95151035
19      24145403
Name: Materialnummer, dtype: object

/var/folders/l0/0614kf4s65x565bh4hp9dvym0000gn/T/ipykernel_5943/3934162703.py:4: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  supervised_dataset = pd.read_csv(r"/Users/raoul/Documents/Studium/AI_Project/git/ai-project/knn_raoul/datasets/supervised_dataset.csv")

,Material number,Supplier,Contract,Contract Position,Fulfillment time,Fixed contract 1,Fixed contract 2,Procurement type,Special procurement type,Dispatcher,...,Plant,Plant information record,Information record number,Information record type,Plant processing time,Material master time,Product group,Base unit,anomaly,knn_predictions
0,00345241,3000,NaN,0,0,0,0,F,40.0,215,...,2100,NaN,NaN,NaN,1,3,80100000,ST,0,1
1,00346718,2000,NaN,0,0,0,0,F,40.0,215,...,2100,NaN,NaN,NaN,1,3,80600000,ST,0,1
2,60038465,2000,NaN,0,0,0,0,F,40.0,215,...,3000,NaN,NaN,NaN,1,84,80100000,ST,1,0
3,60038640,2000,NaN,0,0,0,0,F,40.0,217,...,3000,NaN,NaN,NaN,1,84,80300000,ST,1,0
4,60014570,2000,NaN,0,0,0,0,F,40.0,215,...,2100,NaN,NaN,NaN,1,3,80100000,ST,0,1
5,28287702UB,3000,NaN,0,0,0,0,F,42.0,233,...,2100,2000.0,5.300529e+09,0.0,1,3,60100000,ST,1,1
6,28287702UB,3000,NaN,0,0,0,0,F,42.0,233,...,2100,2100.0,5.300529e+09,0.0,1,3,60100000,ST,1,1
7,60045005,3000,NaN,0,0,0,0,F,42.0,233,...,2000,2000.0,5.300530e+09,0.0,1,1,110400000,ST,1,1
8,60045005,3000,NaN,0,0,0,0,F,42.0,233,...,2000,2100.0,5.300530e+09,0.0,1,1,110400000,ST,1,1
9,60045005,3000,NaN,0,0,0,0,F,42.0,233,...,2000,2800.0,5.300530e+09,0.0,1,1,110400000,ST,1,1
10,60045005,3000,NaN,0,0,0,0,F,42.0,233,...,2100,2000.0,5.300530e+09,0.0,1,91,110400000,ST,1,0
11,60045005,3000,NaN,0,0,0,0,F,42.0,233,...,2100,2100.0,5.300530e+09,0.0,1,91,110400000,ST,1,0
12,60045005,3000,NaN,0,0,0,0,F,42.0,233,...,2100,2800.0,5.300530e+09,0.0,1,91,110400000,ST,1,0
13,60102743,3000,NaN,0,0,0,0,F,42.0,208,...,2100,2000.0,5.300529e+09,0.0,1,140,70300000,ST,1,0
14,60102743,3000,NaN,0,0,0,0,F,42.0,208,...,2100,2100.0,5.300529e+09,0.0,1,140,70300000,ST,1,0
15,60045005,3000,NaN,0,0,0,0,F,42.0,233,...,2800,2000.0,5.300530e+09,0.0,1,1,110400000,ST,1,1
16,60045005,3000,NaN,0,0,0,0,F,42.0,233,...,2800,2100.0,5.300530e+09,0.0,1,1,110400000,ST,1,1
17,60045005,3000,NaN,0,0,0,0,F,42.0,233,...,2800,2800.0,5.300530e+09,0.0,1,1,110400000,ST,1,1
18,95151035,3000,NaN,0,0,0,0,F,42.0,215,...,2100,2000.0,5.300469e+09,0.0,1,14,90400000,ST,1,1
19,24145403,3000,NaN,0,0,0,0,F,42.0,228,...,2100,2100.0,5.300530e+09,0.0,1,3,60200000,ST,1,1

# New knn approach to get better results

In [48]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.neighbors import KNeighborsClassifier


file_path = '../../datasets/supervised_dataset.csv'
df = pd.read_csv(file_path, low_memory=False)
df = df.dropna(axis=1)
df = df.drop("Material number", axis=1)

X = df.drop('anomaly', axis=1)
y = df['anomaly']
X = X.reset_index(drop=True,)
print(X)

train_percent_index = round(len(df['anomaly'])*0.7)
print(train_percent_index)
X_train = X[:train_percent_index]
y_train = y[:train_percent_index]

X_test = X[train_percent_index:]
y_test = y[train_percent_index:]

# Identify numerical and categorical columns
categorical_cols = ["Supplier", "Contract Position", "Procurement type",  "Dispatcher", "Buyer", 
                                    "Purchasing lot size", "Plant", 
                                     "Product group",
                                    "Base unit"]
numerical_cols = ["Fulfillment time", "Fixed contract 1", "Fixed contract 2", "Total quantity", "Total value", 
                                  "Price unit", "Material master time", "Plant processing time"]


# Preprocessing for numerical data
numerical_transformer = Pipeline(steps=[
    ('scaler', StandardScaler())
])

# Preprocessing for categorical data
categorical_transformer = Pipeline(steps=[
    ('encoder', OneHotEncoder(drop='first', handle_unknown='ignore'))
])

# Combine preprocessing steps
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numerical_transformer, numerical_cols),
        ('cat', categorical_transformer, categorical_cols)
    ])

# Create and fit the KNN model within a pipeline
model = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('knn', KNeighborsClassifier(n_neighbors=3))
])

# Fit the model
model.fit(X_train, y_train)

# X_test = X_test.drop(df.columns[0], axis=1)

predictions = model.predict(X_test)
print(predictions)

        Supplier  Contract Position  Fulfillment time  Fixed contract 1  \
0           3000                  0                 0                 0
1           2000                  0                 0                 0
2           2000                  0                 0                 0
3           2000                  0                 0                 0
4           2000                  0                 0                 0
...          ...                ...               ...               ...
186751    704947                 10                63                 0
186752    700020                 10                 4                 4
186753    701806                 10                 4                 4
186754    701806                 10                 4                 4
186755    701806                 10                 4                 4

        Fixed contract 2 Procurement type  Dispatcher  Buyer  \
0                      0                F         215  215.0
1                      0                F         215  215.0
2                      0                F         215  215.0
3                      0                F         217  217.0
4                      0                F         215  215.0
...                  ...              ...         ...    ...
186751                 0                F         272  272.0
186752                60                F         272  272.0
186753                60                F         272  272.0
186754                60                F         272  272.0
186755                60                F         272  272.0

       Purchasing lot size  Total quantity  Total value  Price unit  Plant  \
0                       Z1               0            0           1   2100
1                       Y4               0            0           1   2100
2                       Z1               0            0           1   3000
3                       Z1               0            0           1   3000
4                       Y4               0            0           1   2100
...                    ...             ...          ...         ...    ...
186751                  Z7             530       362748         100   3000
186752                  Z7           67220       739293         100   3000
186753                  X5            2000        29624         100   3000
186754                  Z7           17980         7181         100   3000
186755                  Y4            1420         2082         100   3000

        Plant processing time  Material master time Product group Base unit
0                           1                     3      80100000        ST
1                           1                     3      80600000        ST
2                           1                    84      80100000        ST
3                           1                    84      80300000        ST
4                           1                     3      80100000        ST
...                       ...                   ...           ...       ...
186751                      1                    63      80400000        ST
186752                      1                     7     140300000        ST
186753                      1                    21     140300000        ST
186754                      1                     7     140200000        ST
186755                      1                     7     140100000        ST

[186756 rows x 17 columns]
130729

/opt/anaconda3/lib/python3.9/site-packages/sklearn/preprocessing/_encoders.py:202: UserWarning: Found unknown categories in columns [0, 1, 3, 4, 5, 7] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(

[0 1 0 ... 1 1 1]

In [80]:
# Calculate the percentage of matching entries
print(predictions)
matching_percentage = (y_test == predictions).mean() * 100

print(f"Percentage of matching entries: {matching_percentage:.2f}%")
print("Percent of matching anomalies:", round((count_matching_ones/amount_anomalies_in_predictions)*100, 2), "%")

matching_ones = (y_test == 1) & (predictions == 1)
amount_anomalies_in_predictions = sum([1 for item in predictions if item == 1])


print(f"Percent of anomalies in predictions: {amount_anomalies_in_predictions/len(predictions):.2f}%")
print(f"Precent of anomalies in validation data: {sum([1 for item in y_test if item == 1])/len(y_test):.2f}%")

# Count the number of True values in the mask
count_matching_ones = matching_ones.sum()

[0 1 0 ... 1 1 1]
Percentage of matching entries: 79.45%
Percent of matching anomalies: 85.47 %
Percent of anomalies in predictions: 0.47%
Precent of anomalies in validation data: 0.54%

In [2]:
####################### PCA encoding testing ##################

import numpy as np
import pandas as pd
from sklearn.decomposition import PCA
from sklearn.preprocessing import OneHotEncoder


# Sample categorical data
data = {'category': ['dog', 'cat', 'bird', 'dog', 'cat', 'bird', 'cat', 'bird']}
df = pd.DataFrame(data)

# Apply one-hot encoding
encoder = OneHotEncoder(sparse=False)
one_hot_encoded_data = encoder.fit_transform(df[['category']])
print("One-Hot Encoded Data:")
print(one_hot_encoded_data)


pca = PCA(n_components=2)
reduced_data = pca.fit_transform(one_hot_encoded_data)
print("Reduced Data:")
print(reduced_data)

One-Hot Encoded Data:
[[0. 0. 1.]
 [0. 1. 0.]
 [1. 0. 0.]
 [0. 0. 1.]
 [0. 1. 0.]
 [1. 0. 0.]
 [0. 1. 0.]
 [1. 0. 0.]]

C:\Users\Raoul\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [7]:
file_path = r'/Users/raoul/Documents/Studium/AI_Project/git/ai-project/knn_raoul/datasets/supervised_dataset.csv'
df = pd.read_csv(file_path, low_memory=False)
df

,Material number,Supplier,Contract,Contract Position,Fulfillment time,Fixed contract 1,Fixed contract 2,Procurement type,Special procurement type,Dispatcher,...,Calendar,Plant,Plant information record,Information record number,Information record type,Plant processing time,Material master time,Product group,Base unit,anomaly
0,00345241,3000,NaN,0,0,0,0,F,40.0,215,...,NaN,2100,NaN,NaN,NaN,1,3,80100000,ST,0
1,00346718,2000,NaN,0,0,0,0,F,40.0,215,...,E11,2100,NaN,NaN,NaN,1,3,80600000,ST,0
2,60038465,2000,NaN,0,0,0,0,F,40.0,215,...,NaN,3000,NaN,NaN,NaN,1,84,80100000,ST,1
3,60038640,2000,NaN,0,0,0,0,F,40.0,217,...,NaN,3000,NaN,NaN,NaN,1,84,80300000,ST,1
4,60014570,2000,NaN,0,0,0,0,F,40.0,215,...,E11,2100,NaN,NaN,NaN,1,3,80100000,ST,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186751,04005946,704947,4.600012e+09,10,63,0,0,F,NaN,272,...,NaN,3000,NaN,5.300123e+09,0.0,1,63,80400000,ST,1
186752,00371028,700020,5.500005e+09,10,4,4,60,F,NaN,272,...,NaN,3000,NaN,5.300134e+09,0.0,1,7,140300000,ST,1
186753,00371059,701806,5.500005e+09,10,4,4,60,F,NaN,272,...,E99,3000,NaN,5.300153e+09,0.0,1,21,140300000,ST,1
186754,00350881,701806,5.500005e+09,10,4,4,60,F,NaN,272,...,NaN,3000,NaN,5.300176e+09,0.0,1,7,140200000,ST,1
186755,00360733,701806,5.500008e+09,10,4,4,60,F,NaN,272,...,E13,3000,NaN,5.300185e+09,0.0,1,7,140100000,ST,1